@page "/admin/books"
@page "/admin"
@inherits OwningComponentBase<IBookRepository>



<table class="table table-sm table-striped table-bordered">
    <thead>
        <tr>
            <th>Book ID</th>
            <th>Book Title</th>
            <th>Details</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        @if (BookData?.Count() > 0)
            {
                @foreach (Books b in BookData)
                {
                    <tr>
                        <td>@b.BookId</td>
                        <td>@b.Title</td>

                        <td>
                            <NavLink class="btn btn-sm btn-warning" href="@GetDetailsUrl(b.BookId)">Details</NavLink>
                        </td>

                        <td>
                            <NavLink class="btn btn-sm btn-warning" href="@GetEditUrl(b.BookId)">Edit</NavLink>
                        </td>

                        <td>
                            <button class="btn btn-warning btn-sm" @onclick="@(x => RemoveBook(b))">Delete</button>
                        </td>
                    </tr>
                }
            } 
        else
            {
                <tr>
                    <td colspan="5" class="text-center">No Books</td>
                </tr>
            }
    </tbody>
</table>

<NavLink class="btn btn-warning" href="/admin/books/create">Create</NavLink>

@code {
    public IBookRepository repo => Service;
    public IEnumerable<Books> BookData { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await UpdateData();
    }

    public async Task UpdateData()
    {
        BookData = await repo.Books.ToListAsync();
    }

    public string GetDetailsUrl(long id) => $"/admin/books/details/{id}";
    public string GetEditUrl(long id) => $"/admin/books/edit/{id}";

    public async Task RemoveBook (Books b)
    {
        repo.DeleteBook(b);
        await UpdateData();
    }
}
