@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Books

<div class="card card-header">
    <div class="text-white">
        <h3>@Model.Title</h3>

        <span class="badge bg-warning" style="float:right">
            Price: @Model.Price
        </span>
    </div>

    <ul class="card card-outline-primary m-1 p-1">
        <li>Author: @Model.Author</li>
        <li>Publisher: @Model.Publisher</li>
        <li>ISBN: @Model.Isbn</li>
        <li>Classification: @Model.Classification</li>
        <li>Category: @Model.Category</li>
        <li>Page Count: @Model.PageCount</li>

    </ul>

    <form method="post" asp-page="/Purchase">
        <input type="hidden" asp-for="@Model.BookId" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()"/>
        <span class="card-text">
            <button type="submit" class="btn btn-success btn-sm float-end bg-warning">Add to Cart</button>
        </span>
    </form>

</div>


