
@{
    ViewBag.Title = "Sami's Book Store";
}

@model BooksViewModel

<h1>Sami's Book Store</h1>

@foreach (Books b in Model.Books)
        {
<div class="card card-header">
    <h3>@b.Title</h3>

    <ul class="card card-outline-primary m-1 p-1">
        <li>Author: @b.Author</li>
        <li>Publisher: @b.Publisher</li>
        <li>ISBN: @b.Isbn</li>
        <li>Classification: @b.Classification</li>
        <li>Category: @b.Category</li>
        <li>Page Count: @b.PageCount</li>
        <li>Price: @b.Price</li>

    </ul>
</div>
    }
    <div page-blah="@Model.PageInfo" page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1"></div>
